
body {
  background-color: #fdeaf2;
  padding: 1rem;
  height: 90vh;
}
.navbar {
  background-color: #fbd5e5 !important;
}
.radiust {
  border-radius: 25px 25px 0 0;
}
.radiusb {
  border-radius: 0 0 25px 25px;
}

.radiustb {
  border-radius: 25px 25px 25px 25px;
}
.content {
  background-color: #f7bfd8 !important;
}

.btnProduct {
  text-align: center;
  text-decoration: none;
  width: 10rem;
  height: 40px;
  color: black;
  padding: 5px 10px;
  font-weight: bolder;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #eb9ac0;
  box-shadow: 0 5px #bd6f95;
}

.btnProduct:hover {
  box-shadow: 0 3px #bd6f95;
  top: 1px;
}
.btnProduct:active {
  box-shadow: 0 0 #bd6f95;
  top: 5px;
}
.cate-p {
  background-color: #fbd5e5;
}
.border-drop {
  border-radius: 15px 15px 15px 15px;
}
.border-dropt {
  border-radius: 15px 15px 0 0;
}
.img-drop {
  width: 100px;
  border-radius: 15px 0 0 15px;
  padding: 5px;
}
.icono-flecha {
  width: 40px;
}

.btn-des,.btn-despm {
  background-color: transparent;
  display: inline-block;
  border: none !important;
  cursor: pointer;
}

.values-drop {
  background-color: #f0bfd5;
}
.item-producto {
  min-height: 70px;
  max-height: 100px;
}
.accordion-item {
  background-color: transparent;
  border: none !important;
}

.accordion-title {
  background-color: #fbd5e5 !important;
  padding: 0;
  border-radius: 15px !important;
}
.accordion-title:focus {
  box-shadow: none !important;
}

.form-buscar input:focus {
  border: solid 1px #bd6f95;
  box-shadow: none;
}
.input-focus:focus{
  box-shadow: none !important;
  border-color: #bd6f95 !important;
}
.rounded-4 {
  border-color: #bd6f95 !important;
  border-width: 2px !important;
}

.minus img,.plus img {
  width: 25px !important;
  padding: 1px;
}
.minus,.plus {
border: solid transparent 1px !important;
}
.minus:hover,.plus:hover {
background-color: #eb9ac0;
border-radius: 20px;
border: solid #bd6f95 1px !important;
padding-bottom: 5px;
}